---
import "../styles/global.css";
import Header from "../layouts/Header.astro";
---

<Header />
<html title="Inicio">
  <div class="container mx-auto px-4 py-8 pt-20">
  <h1 class="text-4xl font-bold">¡Bienvenido a mi blog!</h1>
  <p class="mt-2 text-gray-700 text-lg">Este es mi sitio hecho con Astro + Tailwind.</p>
  <nav class="mt-4 space-x-4">
    <a href="/blog" class="text-blue-600 underline">Blog</a>
    <a href="/portfolio" class="text-green-600 underline">Portafolio</a>
  </nav>
  </div>

