---
import "../styles/global.css";
import Header from "../layouts/Header.astro";
import AsciiBackground from '../components/AsciiTrail-3.tsx';
import SilkBackground from "../components/SilkBackground.tsx";
import AnimationsIndex from '../components/AnimationsIndex.tsx'
---

<Header />
<title>Ivaneer</title>
<main class="min-h-screen bg-transparent text-white flex flex-col items-center justify-center relative z-10">
  <AnimationsIndex client:only="react" />
</main>

<div class="absolute inset-0 z-0 bg-black">
  <SilkBackground client:only="react" />
</div>
<AsciiBackground client:only="react" />

