---
import "../styles/global.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="bg-zinc-900 text-zinc-100 font-sans leading-relaxed prose prose-invert dark:prose-invert max-w-3xl mx-auto px-4 py-8 
    [&_h1]:text-5xl [&_h1]:font-extrabold [&_h1]:text-zinc-200 [&_h1]:border-b-4 [&_h1]:border-zinc-500 [&_h1]:pb-2 
    [&_h2]:text-2xl [&_pre]:relative [&_pre]:p-4 [&_code]:block [&_code]:whitespace-pre [&_a]:text-blue-500">

    <slot />
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('pre').forEach(pre => {
      const code = pre.querySelector('code');
      if (!code || pre.querySelector('.copy-button')) return;

      const button = document.createElement('button');
      button.className = `
        copy-button absolute top-2 right-2 p-1
        bg-zinc-800 text-white rounded
        opacity-60 hover:opacity-100 transition
        flex items-center justify-center z-10
      `;

      const copySVG = `
        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24" class="w-4 h-4 fill-current">
          <path d="M16 1H4a2 2 0 0 0-2 2v14h2V3h12V1zm3 4H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2zm0 16H8V7h11v14z"/>
        </svg>
      `;

      const checkSVG = `
        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24" class="w-4 h-4 fill-current text-black-400">
          <path d="M9 16.2l-3.5-3.5L4 14.2l5 5 12-12-1.5-1.5z"/>
        </svg>
      `;

      button.innerHTML = copySVG;

      button.addEventListener('click', () => {
        navigator.clipboard.writeText(code.innerText).then(() => {
          button.innerHTML = checkSVG;
          setTimeout(() => {
            button.innerHTML = copySVG;
          }, 2000);
        });
      });

      pre.appendChild(button);
    });
  });
</script>



