---
import ScrambleLink from '../components/ScrambleHeader.tsx';
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://uuqke3c479llohf3.public.blob.vercel-storage.com/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <header class="fixed top-0 left-0 w-full z-50 px-6 py-4 border-b border-zinc-800 bg-[#121110]/80 backdrop-blur-md flex items-center justify-between">
    <a href="/" class="text-xl font-bold text-white">IVANEER</a>
    <nav class="flex gap-4">
      <ScrambleLink text="About" href="/portfolio" class="text-zinc-300 hover:text-white" client:only="react" />
      <ScrambleLink text="Blog" href="/blog" class="text-zinc-300 hover:text-white" client:only="react" />
    </nav>
  </header>